# Binaries
[Oo]bj/
[Bb]in/

# Mac
.DS_Store

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# IDE / Visual Studio
.vs/
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Oo]ut/
[Pp]ublish/

# Secrets
appsettings.Development.json
secrets.json
